@charset "utf-8";


/* review.css */

body {
    position: relative; /* #modal의 기준 */
}


/**** SECTION ***********************************************************************************************/
section {
    width: 100%;
    padding-top: 180px;
    margin-bottom: 100px;
}

section .con-tit h2 {
    font-size: 32px;
    font-size: 2rem;
    font-weight: 400;
    text-transform: none;
    /* letter-spacing: -1px; */
}
section .con-tit p {
    margin-bottom: 70px;
}


/*** 탭메뉴 ***/
section .tab-menu {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    /* outline: 1px solid red; */
}
section .tab-menu li {
    float: none;
    display: inline-block;
    margin: 0 5px;
    border-radius: 20px;
    overflow: hidden;
}
section .tab-menu li a {
    text-transform: uppercase;
    color: #eee;
    background-color: #333;
    padding: 6px 20px;
    font-size: 14px;
}

section .tab-menu li.on a {
    color: #ff6357;
}



/*** 리뷰 목록 ***/
article.review {
    width: 90%;
    max-width: 1620px;
    margin: 0 auto;
}

.review ul li {
    width: 24.25%;
    margin-bottom: 3%;
}
.review ul li:nth-child(4n+1) {
    margin-left: 0;
}
.review ul li~li {
    margin-left: 1%;
}

.review ul li .review-img {
    width: 100%;
    margin-bottom: 18px;
    overflow: hidden; /* 호버했을때 img 크기조절함 */
}
.review ul li .review-img img {
    width: 100%;
    display: block;
    transition: all .7s;
}

.review ul li .info-wrap {
    width: 100%;
}
.info-wrap .prod-info {
    width: 100%;
    height: 100px;
    padding: 10px 0;
    margin-bottom: 6px;
    box-sizing: border-box;

    position: relative; /* .txt-box의 기준 */
}

.info-wrap .prod-info .img-box {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}
.info-wrap .prod-info .img-box img {
    width: 100%;
    display: block;
}

.info-wrap .prod-info .txt-box {
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
}
.info-wrap .prod-info .txt-box .prod-category {
    margin-bottom: 7px;
}
.prod-info .txt-box .prod-category p {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 14px;
    margin-right: 16px;

    position: relative; /* 가상요소 before의 기준! */
}
.prod-info .txt-box .prod-category p:last-child::before {
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    background-color: #333;

    position: absolute;
    left: -9px;
    top: 5px;
}
.prod-info .txt-box h3 {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -1px;
}
.prod-info .txt-box h3 span {
    font-size: 12px;
    color: #ccc;
    font-weight: 400;
    display: block;
}


/*** 모달 팝업페이지 ***/
/* 호버효과 디자인 - 초기설정 */
#desk li .review-img {
    position: relative; /* 테두리의 기준 */
}
#desk li .review-img::before {
    /* 위쪽 테두리 */
    content: "";
    display: block;
    width: 0;
    height: 5px;
    background-color: #ff6357;

    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: width .2s linear .6s;
}
#desk li .review-img::after {
    /* 아래쪽 테두리 */
    content: "";
    display: block;
    width: 0;
    height: 5px;
    background-color: #ff6357;

    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    transition: width .2s linear .2s;
}
#desk li .review-img > span::before {
    /* 왼쪽 테두리 */
    content: "";
    display: block;
    width: 5px;
    height: 0;
    background-color: #ff6357;

    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    transition: height .2s linear 0s;
}
#desk li .review-img > span::after {
    /* 오른쪽 테두리 */
    content: "";
    display: block;
    width: 5px;
    height: 0;
    background-color: #ff6357;

    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    transition: height .2s linear .4s;
}


#desk li:first-child .review-img:hover img {
    cursor: pointer;
    transform: scale(1.2);
}
#desk li:first-child .review-img:hover::before {
    /* 위쪽 테두리 */
    width: 100%;
    transition: width .2s linear 0s;
}
#desk li:first-child .review-img>span:hover::after {
    /* 오른쪽 테두리 */
    height: 100%;
    transition: height .2s linear .2s;
}
#desk li:first-child .review-img:hover::after {
    /* 아래쪽 테두리 */
    width: 100%;
    transition: width .2s linear .4s;
}
#desk li:first-child .review-img>span:hover::before {
    /* 왼쪽 테두리 */
    height: 100%;
    transition: height .2s linear .6s;
}


/* 팝업 페이지 */
#modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);

    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
}
#modal .pop-up {
    width: 50%;
    height: 60%;
    background-color: #fff;
    box-shadow: 0 0 6px #666;

    margin: 200px auto;
    padding: 30px;
    border-radius: 15px;
    box-sizing: border-box;
}

.pop-up .close {
    float: right;
    width: 30px;
    height: 30px;
    background: url(../img/icon_close.png) no-repeat center/cover;
    margin-bottom: 40px;
    font-size: 0;
    cursor: pointer;
}

.pop-up .review-img {
    float: left;
    width: 500px;
    height: 500px;
    margin-top: 70px;
}
.pop-up .review-img img {
    width: 100%;
    height: 100%;
    display: block;
}

.pop-up .review-box {
    float: right;
    width: calc(100% - 520px);
    height: 100%;
    margin-left: 20px;
}

.pop-up .review-box .prod-info {
    margin-bottom: 10px;
}

.pop-up .review-box .reviewer {
    margin-bottom: 30px;
    font-size: 14px;
}
.pop-up .review-box .reviewer span:last-child {
    margin-left: 10px;
    color: #999;
    position: relative; /* 가상요소 before의 기준 */
}
.pop-up .review-box .reviewer span:last-child::before {
    content: "";
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #999;

    position: absolute;
    left: -7px;
    top: 7px;
}

.pop-up .review-box .review-des {
    font-size: 15px;
    color: #555;

    height: 300px;
    padding-right: 16px;
    box-sizing: border-box;
    overflow-y: scroll;
}